#features-menu li a.icon-videochat span.icon {
  background:url(images/videochat.png) no-repeat;
}

.feature .feature-atrium_opentok {
  background:transparent url(images/videochat-icon.png) no-repeat;
}

span.spaces-feature.feature-atrium_opentok { background:url(images/videochat-icon.png) no-repeat; height:20px; width:20px; }
